/* NOTE: Service  */
.service-cards--animation {
  top: 1px;
  left: 1px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.service-cards:hover .service-cards--animation {
  -webkit-transform: translate3d(-30px, -30px, -30px);
}

.service-cards:hover .service-cards--box-shadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* NOTE: Destination */
.destination-cards {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.destination-cards:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* NOTE: Booking  */
.booking-card__like:hover .booking-card__progress {
  display: flex;
  flex-direction: row;
  width: 263px;
  height: 129px;
  top: -40px;
  left: -70px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

/* NOTE: Testimonial */
/* Slideshow container */
.slideshow-container {
  width: 541px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Arrow buttons */
.arrow {
  cursor: pointer;
  display: block;
  margin: 30px auto;
  width: 14px;
  height: 14px;
  border-top: 2px solid #bcb7c2;
  border-left: 2px solid #bcb7c2;
}

/* Rotate arrow */
.arrow-up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-up:hover,
.arrow-down:hover {
  border-top: 2px solid #3e2e4d;
  border-left: 2px solid #3e2e4d;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #39425d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.testimonial-card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* NOTE: Branding */
.branding-image {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.branding-image:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* NOTE: Subscribe */
.subscribe {
  background: url(../images/subscribe-background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.subscribe-email__button--ripple {
  background-position: center;
  transition: background 0.8s;
}

.subscribe-email__button--ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
